.comment-container {
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 50px;
}

.active {
  background-color: rgb(141, 234, 255);
}

.page {
  padding: 5px;
  margin-top: 44px;
}

.comment-output {
  background-color: #f9f9f9;
  padding: 70px;
  border-radius: 5px;

}

.comment {
  margin-bottom: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.comment-author {
  font-weight: bold;
}



.comment-content {
  padding-bottom: 3px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
}

.comment-sortId {
  padding: 10px 20px;
  margin-top: 6px;
  border: none;
  background-color: rgb(13, 165, 199);
  color: white;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.comment-sortDate {
  padding: 10px 20px;
  margin-top: 6px;
  border: none;
  background-color: rgb(13, 165, 199);
  color: white;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group {
  margin-bottom: 10px;
  border-color: #bfbbbb;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 300px;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: rgb(13, 165, 199);
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #bfbbbb;
}

.date-picker {
  display: flex;
  justify-content: flex-end;
}

.date-picker input {
  width: 100%;
}


/* Медиазапрос для адаптации под мобильные устройства */
@media (max-width: 480px) {
  .comment-output {
    padding: 30px;
  }

  .comment-form {
    margin-left: 30px;
  }

  input[type="text"],
  textarea {
    width: 100%;
  }
}

.comment-container,
.comment,
.comment-author,
.comment-content,
.comment-form,
.form-group,
label,
input[type="text"],
textarea,
button {
  line-height: 1.5;
}